@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-questrial: var(--font-questrial);
  --font-inter: var(--font-inter);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  --color-q-button-red: #bc0c38;
  --color-q-button-red-darker: #9b203f;
  --color-q-review-card-background: #f3d4b6;
  --color-q-review-card-border: #ccbfb2;
  --color-q-card-background: #ebe3e1;
  --color-q-card-background-highlight: #ecb58e;
  --color-q-text-dark-700: #3d3638;
  --color-q-text-dark-darkest: #231f20;
  --color-q-background: #faf2f0;
  --color-q-background-1: #f5ebe9;
  --color-q-background-2: #f5dbd5;
  --color-q-background-3: #f5d4cb;
  --color-q-background-4: #f2ccc2;
  --color-q-background-5: #edc4b9;
  --color-q-background-6: #e5b8ac;
  --color-q-background-b-1: #f5eae7;
  --color-q-background-b-2: #f5ddd6;
  --color-q-background-b-3: #f4d3c9;
  --color-q-background-b-4: #f2ccbb;
  --color-q-background-b-5: #f0c4ad;
  --color-q-background-b-6: #efbea0;
  --color-q-background-c-1: #f9c575;
  --color-q-background-c-2: #f2aa77;
  --color-q-background-c-3: #ecce8f;
  --color-q-background-c-4: #a9c6d4;
  --color-q-background-c-5: #d3d3d3;
  --color-q-background-c-6: #e4ab94;
  --color-q-background-d-1: #d7e2e8;
  --color-q-background-d-2: #e9cbb6;
  --color-q-background-d-3: #ece3d2;
  --color-q-background-d-4: #cbd2d5;
  --color-q-background-d-5: #e3cec5;
  --color-q-background-d-6: #ebd9cb;
  --color-q-background-e-1: #d8e2e7;
  --color-q-background-e-2: #dbdad8;
  --color-q-background-e-3: #dfd1c5;
  --color-q-background-e-4: #e4c7b2;
  --color-q-background-e-5: #e7bfa2;
  --color-q-background-e-6: #ecb58f;
  --color-q-black-for-polaroid: hsla(345, 31%, 10%, 60%);
  --color-q-wite-almost: #f6f6f6;
  --color-q-orange-extra-light: #e4ee2e;
  --color-q-background: #faf2f0;
  --color-q-blue: #6d7ca7;
  --color-q-blue-95-transparent: hsl(224, 25%, 54%, 95%);
  --color-q-blue-75-transparent: hsl(224, 25%, 54%, 75%);
  --color-q-neon-blue: #12a2c9;
  --font-jost: var(--font-jost);
  --font-reem-kufi: var(--font-reem-kufi);
  --font-cedarville-cursive: var(--font-cedarville-cursive);
}

@theme {
  --breakpoint-*: initial;
}

.my-gradient {
  background: #f6f6f6;
  background-size: 100% 100%;
  background-position: 0px 0px;
  background-image: radial-gradient(
    66% 55% at 50% 60%,
    #f6f6f6 30%,
    #7485b3 90%
  );
}
.my-reviews-gradient {
  background: linear-gradient(
    to right,
    transparent 0%,
    transparent 65%,
    var(--color-q-background) 96%
  );
}

.nav-height {
  height: 5rem;
}
.nav-height-small {
  height: 3rem;
}

@utility nav-height {
  height: 5rem;
}

@utility nav-height-small {
  height: 3rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@custom-variant desktopSM (@media (max-width: 1360px));
@custom-variant tablet (@media (max-width: 1087px));
@custom-variant mobile (@media (max-width: 708px));

/* * {
  border: 1 solid black;
} */
/* 
::-webkit-scrollbar {
  @apply w-2.5 h-2.5;
 
}

::-webkit-scrollbar-track {
  @apply bg-transparent
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-border border-[1px] border-transparent border-solid bg-clip-padding;
} */
